{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    
</head>

<body>
    <!-- Search Form -->
    <form class="w-50 mx-auto" method="POST" action={% url 'nearby_shops' %}>
        {% csrf_token %}
        <h2>Find Nearby Shops</h2>
        <div class="mb-3">
            <label for="latitude" class="form-label">Your Latitude</label>
            <input name="latitude" type="number" step="any" class="form-control" id="latitude" aria-describedby="latitudeHelp" max="90" min="-90" required>
            <div id="latitudeHelp" class="form-text">Enter in decimal degrees</div>
        </div>
        <div class="mb-3">
            <label for="longitude" class="form-label">Your Longitude</label>
            <input name="longitude" type="number" step="any" class="form-control" id="longitude" aria-describedby="longitudeHelp" max="180" min="-180" required>
            <div id="longitudeHelp" class="form-text">Enter in decimal degrees</div>
        </div>
        <div class="mb-3">
            <label for="city" class="form-label">Your City</label>
            <select class="form-select" aria-label="select" name="city" aria-describedby="cityHelp" required>
                <option selected value="Bangalore">Bangalore</option>
              </select>
            <div id="cityHelp" class="form-text">Select your city</div>
        </div>
        <div class="mb-3">
            <label for="search_radius" class="form-label">Search Radius</label>
            <input name="search_radius" type="number" class="form-control" id="search_radius" max="2000" min="0" aria-describedby="perimeterHelp" required>
            <div id="perimeterHelp" class="form-text">Enter the search radius in kms</div>
        </div>
        <button type="submit" class="btn btn-primary">Find nearby Shops</button>
    </form>
</body>

</html>
{% endblock content %}