{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    
</head>

<body>
    <h1>Showing shops in {{radius}} kms radius</h1>
    <table class="table table-hover w-50 mx-auto">
        <thead>
            <tr>
                <th scope="col">Shop Name</th>
                <th scope="col">Category</th>
                <th scope="col">Distance(Kms)</th>
            </tr>
        </thead>
        <tbody>
            {% if shops %}
            {% for shop in shops %}
            <tr>
                <td>{{shop.shop_name}}</td>
                <td>{{shop.category}}</td>
                <td>{{shop.distance}}</td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
</body>

</html>
{% endblock content %}