{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    
</head>

<body>
    <table class="table table-hover w-50 mx-auto">
        <thead>
            <tr>
                <th scope="col">Shop Name</th>
                <th scope="col">City</th>
                <th scope="col">Category</th>
                <th scope="col">Latitude</th>
                <th scope="col">Longitue</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% if shops %}
            {% for shop in shops %}
            <tr>
                <td>{{shop.shop_name}}</td>
                <td>{{shop.city}}</td>
                <td>{{shop.category}}</td>
                <td>{{shop.latitude}}</td>
                <td>{{shop.longitude}}</td>
                <td><a href="/edit_shop/{{shop.id}}">Edit</a> | <a href="/delete_shop/{{shop.id}}">Delete</a></td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
</body>

</html>
{% endblock content %}